body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	font-weight: bold;
	color: #E2DBDB;
	font-size: 3rem;
	text-transform: uppercase;
}
hr{
	border-color: #821A0F;
	border-width: 3px;
	max-width: 100px;
}
.btn-size{
	padding: 1rem 2rem;
	/*Leave this class as it is with only size as the name describes about the size. So it becomes simple.*/
}
.btn{
	border-radius: 300px;
	background-color: #821A0F;
	border-color: #821A0F;
	text-transform: uppercase;
	color: #E2DBDB;
}
.btn:hover{
	background-color: blue;
	font-weight: bold;
	border-color: blue;
	border-width: 4px;
}
.buffer{
	height: 120px;
}